body {
  margin: 0;
  font-family: Josefin Sans;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list span{
  cursor: pointer
}

.app{
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: var(--background-color) ;

}

.background{
  position: relative;
}

.background img{
  width: 100%;

}
.background p{
  position: absolute;
  top:25%;
  left:35%;
  font-size: larger;
  color:white;
  margin: 0;
}
.themeBtn {
  position: absolute;
  right: 35%;
  top: 25%;
  cursor: pointer;
}

.list{
  position: absolute;
  width: 30%;
  height: 500px;
  top: 20%;
  left:35%;
}

.current{
  background-color: var(--background-list);
  height: 45px;
  border-radius: 3px;
  display: flex;
  align-items: center;

}

#checkbox{
  margin-left: 10px;
  width: 20px;                        
  height: 20px;                        
  clip-path: circle(43% at 50% 50%);  
  border:2px;
  border-color:hsl(233, 14%, 35%);
  accent-color:blue;
  cursor: pointer;
}

.previous{
  margin-top: 20px;
  border-radius: 3px;
}

#text{
  background-color: transparent;
  border: 0;
  width: 80%;
  height: 20px;
  margin-left:10px ;
  color: var(--text-color);
  font-size:medium;
}

#text:focus{
  border: none;
  outline: none;
}

.previous ul{
  list-style: none;
}

.previous li{
  background-color: var(--background-list);
  height: 45px;  
  border-top: none;
  border-bottom: 1px solid hsl(237, 14%, 26%) ;
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: medium;
  font-weight: lighter;
}

.previous input{
  margin-left: 10px;
  width: 20px;                        
  height: 20px;                        
  clip-path: circle(43% at 50% 50%);  
  border:2px;
  border-color:hsl(233, 14%, 35%);
  margin-right:10px ;
}

.controlbar{
  background-color: var(--background-list);
  color: hsl(233, 14%, 35%);
  display: flex;
  font-weight: lighter;
  font-size: small;
  justify-content: space-between;
  height: 30px;   
  align-items: center;
}

.items{
  margin-left: 10px;
}
.clear{
  margin-right: 10px;
}
.status{
  margin-left: 20px;
}
.controlbar span{
  margin-right: 10px;
}

.current span{
  color: hsl(233, 14%, 35%) ;
  margin-right: 10px;
  font-size: large;
}


:root{
  --background-color: hsl(235, 21%, 11%);
  --background-list: hsl(235, 24%, 19%);
  --text-color: hsl(234, 39%, 85%);
}

[data-theme="light"]{
  --background-color: hsl(0, 0%, 98%) ;
  --background-list:hsl(0, 0%, 100%);
  --text-color: hsl(235, 19%, 35%);
}

.todo-img{
  position: absolute;
  right: 0;
  height: 30px;
  opacity: 0;
}

.todo:hover .todo-img{
  opacity: 1;

}

